body {
    font-family: Arial, sans-serif;
    background-color: #444444;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group input:focus, .form-group select:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #4CAF50;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.btn:hover {
    background-color: #45a049;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #9e9d9d;
    border-radius: 5px;
}

.task-list li h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.task-list li p {
    margin: 0;
}